<nav id="navigation">
  <div class="container">
    <ul>
      <li><a href="/" class="accueil">Accueil</a></li>
      <li><a href="/a-propos/" class="a-propos">À propos</a></li>
      <li><a href="/evenements/" class="evenements">Événements</a></li>
      <li><a href="/contact/" class="contact">Contact</a></li>
    </ul>
  </div>
</nav>
