<nav id="navigation">
  <div class="container">
    <ul>
      {%- for item in collections.navigation -%}
        <li{% if page.url == item.url %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
