{% from "macros/intituleLieu.njk" import intituleLieu %}

<dl class="meta">
  <div>
    <dt><svg class="icon"><use xlink:href="#symbol-date" /></svg></dt>
    <dd>{{ date | plainDate }}</dd>
  </div>
{% if lieu %}
  {% set lieuString %}{{ intituleLieu(lieu, collections.lieux) }}{% endset %}
  {% if lieuString != '' %}
    <div>
      <dt><svg class="icon"><use xlink:href="#symbol-map" /></svg></dt>
      <dd>{{ lieuString }}</dd>
    </div>
  {% endif %}
{% endif %}
</dl>
