<dl class="meta">
  <div>
    <dt><svg class="icon"><use xlink:href="#symbol-date" /></svg></dt>
    <dd>{{ date | plainDate }}</dd>
  </div>
  {% if lieu %}
    {% for lieuItem in collections.lieux %}
      {% set lieuPath = lieuItem.inputPath | replace('./', '') %}
      {% if lieuPath == lieu %}
        <div>
          <dt><svg class="icon"><use xlink:href="#symbol-map" /></svg></dt>
          <dd>{{ lieuItem.data.title }}, à {{ lieuItem.data.city }}</dd>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</dl>
