<dl class="meta">
  <div>
    <dt><svg class="icon"><use xlink:href="#symbol-date" /></svg></dt>
    <dd>{{ date | plainDate }}</dd>
  </div>
  {% if location %}
  <div>
    <dt><svg class="icon"><use xlink:href="#symbol-map" /></svg></dt>
    <dd>{{ locations[location].name }}, à {{ locations[location].city }}</dd>
  </div>
  {% endif %}
</dl>
