<img
  src="/images/logo-precious-prana-360.png"
  srcset="
    /images/logo-precious-prana-360.png 360w,
    /images/logo-precious-prana-480.png 480w,
    /images/logo-precious-prana-640.png 640w,
    /images/logo-precious-prana-800.png 800w"
  sizes="(min-width: 40rem) 20rem, 50vw"
  width="320"
  height="190.5"
  alt="Precious Prana" />