<nav id="navigation">
  <div class="container">
    <ul>
      {%- for item in collections.navigation -%}
        <li{% if item.url != '/' %}{% if item.url in page.url %} class="active"{% endif %}{% endif %}><a href="{{ item.url }}">{{ item.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
