{% if events.length == 0 %}
Il n'y a pour l'instant **aucun événement programmé**. Revenez ici très prochainement, ou abonnez-vous à <a href="https://facebook.com/preciousprana" class="facebook">notre page Facebook</a> pour ne pas rater nos prochains événements.
{% else %}

<div class="next clearfix">
{% set evenement = events | first %}
{% if evenement.data.poster %}
  {% poster src = evenement.data.poster,
  alt = "{{ evenement.data.title }} le {{ evenement.date | displayDate }}, par Precious Prana",
  zoom = "true" %}
{% endif %}
Notre <strong>prochain événement</strong> aura lieu le <strong>{{ evenement.date | displayDate }}</strong> :
<a href="{{ evenement.url }}">{{ evenement.data.title }}</a>.
{% if evenement.data.form_url %}
  <strong>Pour vous inscrire :</strong>
  <a href="{{ evenement.data.form_url }}">{{ evenement.data.form_url }}</a>
{% endif %}
</div>

{% if events.length > 1 %}

{% if events.length > 2 %}
## Autres événements à venir
{% else %}
## Autre événement à venir
{% endif %}

<dl>
  {%- for evenement in events -%}
  {%- if not loop.first -%}
    <dt>{{ evenement.date | displayDate }}</dt>
    <dd>
      <a href="{{ evenement.url }}">{{ evenement.data.title }}</a>
    </dd>
  {%- endif -%}
  {%- endfor -%}
</dl>

{% endif %}

{% endif %}