{% gallery %}

![<alt text>](/images/<image file> "<caption text>"){.onehalf}
![<alt text>](/images/<image file> "<caption text>"){.onehalf}
![<alt text>](/images/<image file> "<caption text>")

{% endgallery %}
