<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127782-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127782-6');
    </script>

    <link rel="stylesheet" href="/css/main.css" />
    {%- if title != 'Accueil' %}
      <title>{{ title }} — Precious Prana</title>
    {% else %}
      <title>Precious Prana, faire pétiller les femmes</title>
    {% endif %}

    <link rel="canonical" href="https://precious-prana.com" />
    <meta property="og:url" content="https://precious-prana.com" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Precious Prana" />
    <meta property="og:title" content="Precious Prana" />
    <meta name="description" content="Faire pétiller les femmes" />
    <meta property="og:description" content="Faire pétiller les femmes" />
    <meta property="og:image" content="https://precious-prana.com/images/logo-precious-prana-social.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@preciousprana" />
    <meta name="twitter:site" content="@preciousprana" />

    <link rel="icon" type="image/png" href="/images/favicon-256.png" />
  </head>
  <body class="{{ pageClass }}" >
    <header>
      <div class="container">
        <h1 class="logo"><a href="/"><img
          src="/images/logo-precious-prana-360.png"
          srcset="
            /images/logo-precious-prana-360.png 360w,
            /images/logo-precious-prana-480.png 480w,
            /images/logo-precious-prana-640.png 640w,
            /images/logo-precious-prana-800.png 800w"
          sizes="(min-width: 33.3rem) 25rem, 75vw"
          alt="Precious Prana" /></a></h1>
      </div>
    </header>
    {% include "navigation.njk" %}
    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
    {% include "footer.njk" %}
  </body>
</html>