<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127782-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127782-6');
    </script>

    <link rel="stylesheet" href="/css/main.css" />
    {%- if title != 'Precious Prana' %}
      <title>{{ title }} — Precious Prana</title>
    {% else %}
      <title>Precious Prana, communauté pour faire pétiller l’énergie vitale des mères actives</title>
    {% endif %}
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <header>
        <h1 class="sitename"><a href="/"><img
          src="/images/logo-precious-prana-320.png"
          srcset="
            /images/logo-precious-prana-320.png 320w,
            /images/logo-precious-prana-480.png 480w,
            /images/logo-precious-prana-640.png 640w,
            /images/logo-precious-prana-800.png 800w"
          sizes="(min-width: 27rem) 25rem, 90vw"
          alt="Precious Prana" /></a></h1>
      </header>
      <div class="container">
        {{ content | safe }}
      </div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>