<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <header>
        <h1 class="sitename">{{ title }}</h1>
        {%- if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
      </header>
      <div class="container">
        {{ content | safe }}
      </div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>



