{% macro intituleLieu(slug, lieux) %}
  {%- if slug -%}
    {%- for lieuItem in lieux -%}
      {%- set lieuPath = lieuItem.inputPath | replace('./', '') -%}
      {%- if lieuPath == slug -%}
        {{ lieuItem.data.title | replace("'", '’') }}{% if lieuItem.data.city %}, à {{ lieuItem.data.city | replace("'", '’') }}{%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{% endmacro %}
