---
layout: layouts/base.njk
tags: ateliers
---

<h1>{{ title }}</h1>
{% if teaser %}
  <p class="intro">{{ teaser }}</p>
{% endif %}

{{ content | safe }}

{% set nbEvenements = 0 %}
{%- for evenement in collections.agenda | reverse -%}
  {% if evenement.data.ateliers %}
    {% if page.fileSlug in evenement.data.ateliers %}
      {% if nbEvenements == 0 %}
        <h2>Agenda</h2>
      {% endif %}
      {% set nbEvenements = nbEvenements + 1 %}
      <h3>
        <a href="{{ evenement.url }}">{{ evenement.data.title }}</a>
        {% if evenement.data.date | future %}
          <span class="hint">prochainement !</span>            
        {% endif %}
      </h3>
      {% set date = evenement.data.date %}
      {% set location = evenement.data.location %}
      {% include "evenement-meta.njk" %}
    {% endif %}
  {% endif %}
{%- endfor -%}
