---
layout: layouts/base.njk
tags: ateliers
---

<h1>{{ title }}</h1>
{% if teaser %}
  <p class="intro">{{ teaser }}</p>
{% endif %}

{{ content | safe }}

{% set nbEvenements = 0 %}
{%- for evenement in collections.agenda | reverse -%}
  {% if evenement.data.ateliers %}
    {% if page.fileSlug in evenement.data.ateliers %}
      {% if nbEvenements == 0 %}
        <h2>Agenda</h2>
        <dl>
        {% endif %}
        {% set nbEvenements = nbEvenements + 1 %}
        <dt>
          {% if evenement.data.date | future %}
            <strong>
            {% endif %}
            {{ evenement.data.date | plainDate }}
            {% if evenement.data.date | future %}
            </strong>
          {% endif %}
        </dt>
        <dd>
          <a href="{{ evenement.url }}">{{ evenement.data.title }}</a>
        </dd>
        <dd>
          {{ locations[evenement.data.location].name }} à {{ locations[evenement.data.location].city }}
        </dd>
      {% endif %}
    {% endif %}
  {%- endfor -%}
  {% if nbEvenements > 0 %}
  </dl>
{% endif %}