<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}{% include "styles.css" %}{% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>

    {# Google Analytics #}
    <script>
      window.ga = function () {
        ga
          .q
          .push(arguments)
      };
      ga.q = [];
      ga.l = + new Date;
      ga('create', 'UA-127782-6', 'auto');
      ga('set', 'transport', 'beacon');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    {% block title %}
    <title>{{ title }} — {{ site.name }}</title>
    <meta property="og:title" content="{{ title }} — {{ site.name }}" />
    {% endblock %}

    <link rel="canonical" href="https://precious-prana.com{{ page.url }}" />
    <meta property="og:url" content="https://precious-prana.com{{ page.url }}" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta name="description" content="Faire pétiller" />
    <meta property="og:description" content="Faire pétiller" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    {% block opengraphImage %}
    <meta property="og:image" content="{% ogImage "Faire pétiller" %}" />
    {% endblock %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@preciousprana" />
    <meta name="twitter:site" content="@preciousprana" />

    <link rel="icon" type="image/png" href="/images/favicon-128.png" />
  </head>
  <body>
    <header>
      <div class="container">
        {%- if title != 'Accueil' %}
          <p class="logo">{% include "logo.njk" %}</p>
        {%- else -%}
          <h1 class="logo">{% include "logo.njk" %}</h1>
        {% endif %}
      </div>
    </header>
    {% include "navigation.njk" %}
    <main>
      <div class="container">
        {% block content %}
          {{ content | safe }}
        {% endblock %}

        <div class="flyer">
          <a href="/files/flyer-juin2019.pdf">
            <p>Téléchargez<br />notre flyer :</p>
            <img src="/files/flyer-juin2019.jpg" alt="couverture du flyer Precious Prana" width="120" height="170" />
          </a>
        </div>
      </div>
    </div>
  </main>
  {% include "footer.njk" %}
  {% include "sprite.njk" %}
</body>
</html>