---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

{% set date = page.date %}
{% include "billet-meta.njk" %}

{% if poster %}
  <img
    src="{{ poster }}"
    alt="{{ title }} le {{ page.date | plainDate }}, par Precious Prana"
    class="poster" />
{% endif %}

<div class="content">
{{ content | safe }}
</div>
