---
layout: layouts/base.njk
tags: blog
---

<h1>{{ title }}</h1>

{% set date = page.date %}
{# {% include "article-meta.njk" %} #}

{% if poster %}
  {% set cloudinaryPrefix = "https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto," %}
  {% set posterAlt %}{{ title }} le {{ page.date | plainDate }}, par Precious Prana{% endset %}

  {% poster
  src = poster,
  alt = posterAlt,
  zoom = true %}
{% endif %}

{{ content | safe }}
