---
layout: layouts/base.njk
tags: agenda
---

{% block opengraphImage %}
  {% from "macros/intituleLieu.njk" import intituleLieu %}
  {% set tagline = page.date | plainDate %}
  {% set lieuString %}{{ intituleLieu(page.data.lieu, collections.lieux) }}{% endset %}
  {% if lieuString != '' %}
    {% set tagline %}{{ tagline }}%0A{{ lieuString | safe }}{% endset %}
  {% endif %}
  <meta property="og:image" content="{% ogImage title, tagline %}" />
{% endblock %}

<h1>{{ title }}</h1>

{% set date = page.date %}
{% include "evenement-meta.njk" %}

{% include "cta.njk" %}

{% if poster %}
  {% set cloudinaryPrefix = "https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto," %}
  {% set posterAlt %}{{ title }} le {{ page.date | plainDate }}, par Precious Prana{% endset %}

  {% poster
  src = poster,
  alt = posterAlt,
  zoom = true %}
{% endif %}

<div class="content">
{{ content | safe }}
</div>

{% if lieu %}
  {% for lieuItem in collections.lieux %}
    {% set lieuPath = lieuItem.inputPath | replace('./', '') %}
    {% if lieuPath == lieu %}
      <h2>Localisation de l'événement</h2>
      <div class="vcard">
      <p class="fn">
        {% if lieuItem.data.url %}<a class="url" href="{{ lieuItem.data.url }}">{% endif %}
        <strong>{{ lieuItem.data.title }}</strong>
        {% if lieuItem.data.url %}</a>{% endif %}
      </p>
      {% if lieuItem.data.address or lieuItem.data.postalcode or lieuItem.data.city %}
        <p class="adr">
          {% if lieuItem.data.address %}<span class="street-address">{{ lieuItem.data.address }}</span><br>{% endif %}
          {% if lieuItem.data.postalcode %}<span class="postal-code">{{ lieuItem.data.postalcode }}</span> {% endif %}
          {% if lieuItem.data.city %}<span class="city">{{ lieuItem.data.city }}</span>{% endif %}
        </p>
      {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% include "cta.njk" %}