---
layout: layouts/base.njk
tags: evenements
templateEngineOverride: njk, md
---

<h1>{{ title }}</h1>
<p class="date">Événement du {{ page.date | displayDate }}</p>
{% if poster %}
  {% set cloudinaryPrefix = "https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto," %}
  {% set posterAlt %}{{ title }} le {{ page.date | displayDate }}, par Precious Prana{% endset %}

  {% poster
  src = poster,
  alt = posterAlt,
  zoom = true %}
{% endif %}

{% if teaser %}
  <p class="intro">{{ teaser }}</p>
{% endif %}

{{ content | safe }}