---
title: Agenda
layout: layouts/base.njk
tags:
  - navigation
navorder: 3
---

<h1>Agenda</h1>

{% set events = collections.agenda_futur %}
{% include "next-events.njk" %}

<h2>Événements précédents</h2>

{%- for evenement in collections.agenda_passe | reverse -%}
  <h3><a href="{{ evenement.url }}">{{ evenement.data.title }}</a></h3>
  {% set date = evenement.date %}
  {% set location = evenement.data.location %}
  {% include "evenement-meta.njk" %}
  {% if evenement.data.teaser %}
    <p>{{ evenement.data.teaser }}</p>
  {% endif %}
{%- endfor -%}