---
title: Ateliers
layout: layouts/base.njk
---

<h1>Ateliers</h1>

{%- for atelier in collections.ateliers -%}
  <h2>{{ atelier.data.title }}</h2>
  {% if atelier.data.teaser %}
    <p>{{ atelier.data.teaser }}</p>
  {% endif %}
  <p>En savoir plus sur l'<a href="{{ atelier.url }}">atelier {{ atelier.data.title }}</a>
  </p>
{%- endfor -%}