---
title: Ateliers
layout: layouts/base.njk
tags:
  - navigation
navorder: 2
---

<h1>Ateliers</h1>

{%- for atelier in collections.ateliers -%}
  <h2>{{ atelier.data.title }}</h2>
  {{ atelier.templateContent | excerpt | safe }}
  <p>En savoir plus sur l'<a href="{{ atelier.url }}">atelier {{ atelier.data.title }}</a>
  </p>
{%- endfor -%}