---
title: Blog
layout: layouts/base.njk
tags:
  - navigation
navorder: 4
---

<h1>Blog</h1>

{%- for billet in collections.blog | reverse -%}
  <h3><a href="{{ billet.url }}">{{ billet.data.title }}</a></h3>
  {% set date = billet.date %}
  {% include "billet-meta.njk" %}
  {{ billet.templateContent | excerpt | safe }}
{%- endfor -%}