// Breakpoints
$bp-narrow: '(min-width: 400px)';
$bp-mid: '(min-width: 740px)';
$bp-wide: '(min-width: 1200px)';

// Brand colours
$brand-green: rgb(71, 155, 16);
$brand-green-light: rgb(133, 211, 83);
$brand-red: rgb(238, 52, 73);
$brand-red-light: rgb(255, 169, 188);
$brand-orange: rgb(244, 118, 61);
$brand-orange-light: rgb(249, 196, 185);
$brand-yellow: rgb(249, 211, 25);
$brand-yellow-light: rgb(244, 222, 130);
$brand-turquoise: rgb(39, 196, 204);
$brand-turquoise-light: rgb(125, 234, 231);
$brand-blue: rgb(95, 110, 158);
$brand-blue-light: rgb(160, 181, 224);
$brand-purple: rgb(135, 68, 178);
$brand-purple-light: rgb(188, 145, 229);

// Other colors
$page-background: #fff;
$footer-background: mix($brand-green, $page-background, 60%);
$footer-border: darken($brand-green, 10%);

$facebook-color: #3c5a99;

$link-color: $facebook-color;
