// Breakpoints
$bp-narrow: '(min-width: 400px)';
$bp-mid: '(min-width: 740px)';
$bp-wide: '(min-width: 1200px)';

// Colours
$facebook-color: #3c5a99;

$page-color: #fff;
$text-color: #222;
$link-color: $facebook-color;
