@import '_variables';
@import '_mixins';

@font-face {
  font-family: 'dosis';
  src: url('/fonts/dosis-regular.woff2') format('woff2'),
    url('/fonts/dosis-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-regular.woff2') format('woff2'),
    url('/fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  background-color: #fff;
  color: #222;

  font-family: roboto, sans-serif;
  font-display: fallback;
  font-weight: 300;
  line-height: 1.8;
  font-size: calc(0.9rem + 1vw);
  @media screen and (min-width: 55rem) {
    font-size: 1.45rem; //calc(0.9rem + 55 / 100 * 1 * 1rem);
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 50rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  margin-bottom: 1em;

  font-family: dosis, sans-serif;
  font-display: fallback;
  font-weight: 600;

  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  margin: 1rem 0 3rem;
  text-align: center;

  img {
    width: 25rem;
    max-width: 75vw;
  }
}

p {
  margin: 1em 0;
}

ul,
ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: underline solid mix($link-color, $page-background, 70%);

  &.facebook {
    color: $facebook-color;
    text-decoration: underline solid mix($facebook-color, $page-background, 70%);
  }
}

a:hover,
a:focus,
a:active {
  color: $link-color;
  text-decoration: underline solid mix($link-color, $page-background, 70%);

  &.facebook {
    color: $link-color;
    text-decoration: underline solid mix($link-color, $page-background, 70%);
  }
}

.poster {
  width: 30%;
  float: right;
  margin: 0 0 1em 1em;

  img {
    border: 1px solid #ccc;
  }

  figcaption {
    text-align: center;
    line-height: 1;
    font-size: .9em;
  }
}

footer {
  margin: 5em 0 0;
  padding: 1em 0;
  background-color: #98BF55;
  border-top: 2px solid #5F9A51;

  .facebook-page {
    display: flex;
    align-items: flex-start;

    .icon-link {
      display: inline-block;
      margin: 0 0.5em 0 0;
      width: 7rem;
      height: auto;
      min-width: 30px;
      max-width: 50px;
      text-decoration: none;
    }

    svg {
      width: 100%;
      height: auto;
    }

    p {
      margin: 0;
      flex-grow: 1;
      line-height: 1;
    }
  }
}
