@import '_variables';
@import '_mixins';

@font-face {
  font-family: 'dosis';
  src: url('/fonts/dosis-regular.woff2') format('woff2'),
    url('/fonts/dosis-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-regular.woff2') format('woff2'),
    url('/fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #fff;
  color: #222;

  font-family: roboto, sans-serif;
  font-display: fallback;
  font-weight: 300;
  line-height: 1.8;
  font-size: calc(0.9rem + 1vw);
  @media screen and (min-width: 55rem) {
    font-size: 1.45rem; //calc(0.9rem + 55 / 100 * 1 * 1rem);
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navigation {
  background: linear-gradient(
    335deg,
    $brand-green 0%,
    $brand-green-light 100%
  );

  font-size: .9em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 1 0 auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  a:link, a:visited {
    display: inline-block;
    width: 100%;
    padding: .1em .3em;
    text-decoration: none;
    // background-color: $brand-green-light;
    color: #fff;
  }

  a:hover, a:active {
    text-decoration: underline #fff;
  }
}

main {
  flex: 1;
  margin: 1em;
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 60rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;

  font-family: dosis, sans-serif;
  font-display: fallback;
  font-weight: 600;
  color: $brand-green;

  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  margin: 2rem 0;
  text-align: center;

  img {
    width: 25rem;
    max-width: 75vw;
  }
}

p {
  margin: 1em 0;
}

ul,
ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $brand-blue;
  text-decoration: underline solid $brand-blue-light;

  &.facebook {
    color: $facebook-color;
    text-decoration: underline solid mix($facebook-color, $page-background, 60%);
  }
}

a:hover,
a:focus,
a:active {
  color: $brand-blue;
  text-decoration: underline solid $brand-blue;

  &.facebook {
    color: $facebook-color;
    text-decoration: underline solid $facebook-color;
  }
}

.poster {
  width: 33%;
  float: right;
  margin: 0 0 1em 1em;

  img {
    border: 2px solid #ccc;
  }

  figcaption {
    text-align: center;
    line-height: 1;
    font-size: .9em;
  }
}

footer {
  margin: 5em 0 0;
  padding: 1em 0;
  background-color: $footer-background;
  background: linear-gradient(
    335deg,
    $brand-green 0%,
    $brand-green-light 100%
  );
  border-top: 2px solid $footer-border;

  .facebook-page {
    display: flex;
    align-items: flex-start;

    .icon-link {
      display: inline-block;
      margin: 0 0.5em 0 0;
      width: 7rem;
      height: auto;
      min-width: 30px;
      max-width: 50px;
      text-decoration: none;
    }

    svg {
      width: 100%;
      height: auto;
    }

    p {
      margin: 0;
      flex-grow: 1;
      line-height: 1;
    }
  }
}
