@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'chewyregular';
  src: url('/fonts/chewy-regular.woff2') format('woff2'),
    url('/fonts/chewy-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $page-color;
  color: $text-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  font-size: calc(0.9rem + 0.5vw);
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 50rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1;
  font-family: 'chewyregular', sans-serif;
}

img {
  max-width: 100%;
}

.sitename {
  margin: 3rem 0;
  font-size: 12vw;
  text-align: center;
}

@media screen and (min-width: 55rem) {
  body {
    font-size: 1.175rem; //calc(0.9rem + 55 / 100 * 0.5 * 1rem);
  }
  .sitename {
    font-size: 6.6rem; //calc(55 / 100 * 12 * 1rem);
  }
}

p {
  margin-bottom: 1em;
}

.subtitle {
  margin-bottom: 4em;
  font-size: 1.2em;
}

ul,
ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $accent-color;
  text-decoration: none;
  border-bottom: solid 1px mix($text-color, $page-color, 10%);
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom: solid 1px $accent-color;
}

.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top: solid 1px mix($text-color, $page-color, 60%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 8em;
    text-align: left;
    color: mix($text-color, $page-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-top: solid 1px $accent-color;
    border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color, $page-color, 60%);
  }
}

code {
  font-size: 0.8em;
  background-color: mix($accent-color, $page-color, 10%);
  color: $text-color;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

pre {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.2;
  background-color: mix($accent-color, $page-color, 10%);
  border: solid 1px mix($accent-color, $page-color, 30%);
  overflow: auto;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top: solid 1px mix($text-color, $page-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $page-color, 40%);

  a:link,
  a:visited {
    color: mix($text-color, $page-color, 70%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $accent-color;
    border-bottom: solid 1px $text-color;
  }
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}
