@import "_variables";
@import "_fonts";

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-color: #fff;
  color: #222;

  font-family: roboto, sans-serif;
  font-display: swap;
  font-weight: 300;
  line-height: 1.5;
  font-size: calc(0.9rem + 1vw);
  @media screen and (min-width: 55rem) {
    font-size: 1.45rem; //calc(0.9rem + 55 / 100 * 1 * 1rem);
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

strong {
  font-weight: bold;
}

#navigation {
  background: linear-gradient(335deg, $brand-green 0%, $brand-green-light 100%);

  font-size: 0.9em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 1 0 auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  a:link,
  a:visited {
    display: inline-block;
    width: 100%;
    padding: calc(0.1em + 0.5vw) 0.3em;
    text-decoration: none;
    color: #fff;
    text-shadow: $brand-green 1px 1px 3px;
  }

  .active a:link,
  .active a:visited {
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover,
  a:active {
    text-decoration: underline #fff;
  }
}

main {
  flex: 1;
  margin: 1em;
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 60rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: calc(0.75em + 2vw) 0 0.75rem 0;

  font-family: dosis, sans-serif;
  font-display: fallback;
  font-weight: 600;
  color: $brand-green;

  line-height: 1.2;

  .direct-link:link,
  .direct-link:visited {
    opacity: 0;
  }

  &:hover {
    .direct-link:link,
    .direct-link:visited {
      opacity: 1;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  margin: 1rem 0;
  text-align: center;

  a {
    display: inline-block;
    width: 20rem;
    max-width: 50vw;
  }
}

p {
  margin: 1em 0;

  &.date {
    color: $brand-green;
  }
}

a:link,
a:visited {
  color: $brand-blue;
  text-decoration: underline solid $brand-blue-light;

  &.facebook {
    color: $facebook-color;
    text-decoration: underline solid mix($facebook-color, $page-background, 60%);
  }
}

a:hover,
a:focus,
a:active {
  color: $brand-blue;
  text-decoration: underline solid $brand-blue;

  &.facebook {
    color: $facebook-color;
    text-decoration: underline solid $facebook-color;
  }
}

a[href^="mailto:"]::before {
  content: "✉️ ";
}

figure {
  margin: 1em 0;

  img {
    border: 2px solid #ccc;
  }

  figcaption {
    text-align: center;
    line-height: 1;
    font-size: 0.9em;

    p {
      margin: 0.2em 0;
    }

    .zoom {
      font-size: 0.9em;
    }
  }
}

.poster,
.onethird {
  width: 33%;
  float: right;
  margin: 0 0 1em 1em;
}

.onehalf {
  width: 100%;
  margin: 1em 0;

  @media screen and (min-width: 40rem) {
    width: 50%;
    float: right;
    margin: 0 0 1em 1em;
  }
}

.fullwidth {
  text-align: center;
  margin: 1em auto;
}

blockquote {
  margin: 2em 0;
  position: relative;
  overflow: hidden;

  padding: 1vw 5vw;

  color: #333;
  background: linear-gradient(
    335deg,
    lighten($brand-green, 40) 0%,
    lighten($brand-green-light, 40) 100%
  );
  border-left: 1vw solid $brand-green;

  font-style: italic;

  &::before {
    position: absolute;
    left: 0vw;
    top: 0;

    content: "\201C";

    color: $brand-green;

    font-size: 10vw;
    line-height: 1;
  }

  p:first-child {
    margin-top: 1vw;
  }

  p:last-child {
    margin-bottom: 1vw;
  }

  cite {
    font-size: 0.9em;
    color: #696;
  }
}

// ------------------------------------------------------------------------
// CTA: Call To Action link
// ------------------------------------------------------------------------

.cta {
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;

  a:link,
  a:visited {
    display: inline-block;
    padding: 0.3em 1em;
    background: linear-gradient(
      335deg,
      $brand-green 0%,
      $brand-green-light 100%
    );
    color: #fff;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.22);
    text-shadow: $brand-green 1px 1px 3px;

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
      transform: scale(0.95);
    }
  }
}

// ------------------------------------------------------------------------
// Mardown-it containers
//
// ::: note
// content
// :::
// ------------------------------------------------------------------------

.note {
  margin: 2em 0;
  padding: 0 1em;
  color: #333;
  background: linear-gradient(
    335deg,
    lighten($brand-green, 50) 0%,
    lighten($brand-green-light, 50) 100%
  );
  border: 2px solid $brand-green;
}

// ------------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------------

footer {
  margin: 5em 0 0;
  padding: 1em 0;
  background-color: $footer-background;
  color: $footer-text;
  border-top: 2px solid $footer-border;
  font-size: 0.8em;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .facebook-page {
    display: flex;
    align-items: flex-start;
    margin-right: 1em;

    .icon-link {
      display: inline-block;
      margin: 0 0.5em 0 0;
      width: 7rem;
      height: auto;
      min-width: 30px;
      max-width: 40px;
      text-decoration: none;
    }

    svg {
      width: 100%;
      height: auto;
    }

    p {
      margin: 0;
      flex-grow: 1;
      line-height: 1.2;
    }
  }

  .legal {
    white-space: nowrap;
  }
}

// ------------------------------------------------------------------------
// Flyer
// ------------------------------------------------------------------------

.flyer {
  margin: 3em 0 0;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  img {
    margin-left: 0.5em;
    width: 120px;
    height: 170px;
    border: 1px solid #666;
    transform: rotate(8deg);
  }

  @media (min-width: 1024px) {
    margin: 0;
    font-size: 0.8em;
    position: absolute;
    right: 2em;
    top: 1em;
  }
}

.intro {
  font-size: 1.1em;
  color: $brand-green;
}

.next {
  margin: 2em 0;
  padding: 1em;
  background: linear-gradient(
    to bottom,
    lighten($brand-yellow-light, 15%),
    lighten($brand-yellow-light, 25%)
  );
  border: 1px solid lighten($brand-yellow-light, 15%);
  border-radius: 0.5em;

  h2 {
    margin: 1rem 0;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1em;
  }
}

// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

// ************************************************************
// Preserve aspect ratio
// https://css-tricks.com/aspect-ratio-boxes/#article-header-id-7
// ************************************************************

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    height: 0;
    overflow: hidden;
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
