---
layout: layouts/page.njk
title: Opengraph
---

{% from "macros/intituleLieu.njk" import intituleLieu %}

<h1>Agenda</h1>
<section class="list recent" style="background-color: #ddd; padding: .5em">
  {%- for evenement in collections.agenda_passe | reverse -%}
    {% set tagline = evenement.date | plainDate %}
    {% set lieuString %}{{ intituleLieu(evenement.data.lieu, collections.lieux) }}{% endset %}
    {% if lieuString != '' %}
      {% set tagline %}{{ tagline }}%0A{{ lieuString | safe }}{% endset %}
    {% endif %}
    <a href="{{ evenement.url }}"><img src="{% ogImage evenement.data.title, tagline %}" style="max-width: 100%;" /></a>
  {% endfor %}
</section>
